/* CONTENEDOR */
.evaluaciones-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 100%;
}

/* HEADER */
.evaluaciones-header {
  margin-bottom: 10px;
}

/* FORM */
.form-evaluacion {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

/* SELECT */
.form-evaluacion .select {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* LISTA */
.lista-evaluaciones {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* CARD */
.card-evaluacion {
  background: white;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

/* HEADER CARD */
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}