/* navbar: fondo transparente, sin sombra inicial */
.navbar {
  background-color: transparent !important;
  padding: 1rem 2rem !important;
  transition: all 0.3s ease;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


.navbar-centro {
  display: flex !important;
  justify-content: center !important; 
  align-items: center !important;     
  flex-grow: 1;                       
}


.navbar-centro .nav-link.nav-boton {
  background-color: #273823 !important; 
  color: #afec15 !important;            
  padding: 8px 24px !important;         
  border-radius: 50px !important;       
  margin: 0 8px !important;             
  text-align: center;
  font-weight: 500;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

/* Efecto Hover */
.navbar-centro .nav-link.nav-boton:hover {
  background-color: #2a2a2a !important; 
  color: #ffffff !important;
}

/* BOTN LOGIN */
.navbar-login {
  position: absolute;
  right: 30px;
}

.btn-login {
  padding: 6px 16px;
  border-radius: 20px;
  background: linear-gradient(135deg, #273823, #18171a);
  color: #afec15;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.btn-login:hover {
  opacity: 0.8;
}

/* TOGGLER */
.navbar-toggler {
  border: none !important;
}

.navbar-toggler-icon {
  filter: invert(1) !important;
}

.navbar-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usuario-nombre {
  font-size: 0.9rem;
  color: #273823;
}
